:root {
  --light-blue-bg: #BCCED9;
  --dark-blue-bg: #304859;
  --orange-bg: #FDA214;
  --orange-hover-bg: #FFB84A;
  --white-color: #FCFCFC;
  --darker-blue: #152938;
  --lighter-blue: #DFE7EC;
  --medium-blue: #7191A5;
}

body {
  height: 100%;
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

a {
  text-decoration: none;
  color: var(--white-color);
}

div[disabled] {
  pointer-events: none;
}

.font-48 {
  font-size: 48px;
}
.font-40 {
  font-size: 40px;
}
.font-32 {
  font-size: 32px;
}
.font-20 {
  font-size: 20px;
}
.font-18 {
  font-size: 18px;
}
.font-26 {
  font-size: 26px;
}
.text-white {
  color: var(--white-color);
}
.text-lightblue {
  color: #7191A5;
}
.text-darkblue {
  color: var(--dark-blue-bg);
}
.text-darkblue {
  color: var(--darker-blue);
}
.text-medblue {
  color: var(--medium-blue);
}
.bg-orange {
  background-color: var(--orange-bg);
}
.bg-lighterblue {
  background-color: var(--lighter-blue);
}


/* styling the starter page */
.starter-page {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--darker-blue);
  display: flex;
  justify-content: center;
}
.starter-wrapper {
  position: absolute;
  top: 15%;
  min-height: max-content;
}
.starter-title {
  text-align: center;
  height: 18.6%;
  margin-bottom: 78px;
}
.starter-box {
  min-width: 650px;
  max-width: 800px;
  height: 81.4%;
  padding: 56px;
  background: var(--white-color);
  border-radius: 20px;
}
.button-radio {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.button-radio label {
  display: block;
  text-align: center;
  cursor: pointer;
  line-height: 52px;
  padding: auto;
  border-radius: 26px;
  background-color: var(--light-blue-bg);
}
.button-radio input[type="radio"] {
  opacity: 0.01;
  position: fixed;
  z-index: -1;
}
.button-radio input[type="radio"]:checked+label {
  background: var(--dark-blue-bg);
}

.small-button label {
  min-width: 100px;
}
.med-button label {
  min-width: 245px;
}
.large-button {
  border: 0px;
  width: 100%;
  line-height: 60px;
  border-radius: 35px;
  background-color: var(--orange-bg);
}


.topic-container {
  margin-bottom: 33px;
}


/* styling the game page */
.game-page {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
}
.game-wrapper {
  position: absolute;
  top: 6%;
  min-width: 1110px;
  min-height: max-content;
}
.game-title {
  display: flex;
  justify-content: space-between;
}
.game-title-button button {
  border: 0px;
  text-align: center;
  cursor: pointer;
  line-height: 52px;
  padding: auto;
  border-radius: 26px;
  min-width: 120px;
  padding: 0px 10px;
}
.game-title-button a {
  color: var(--dark-blue-bg);
}
.right-margin {
  margin-right: 9px;
}
.left-margin {
  margin-left: 9px;
}
.grid-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-4x4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 100px 0px;
  grid-gap: 20px;
  line-height: 118px;
}
.grid-6x6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 100px 0px;
  grid-gap: 20px;
  line-height: 82px;
}
.grid-4x4 .coin-space {
  width: 118px;
  height: 118px;
  perspective: 600px;
  font-size: 56px;
}
.grid-4x4 .icon-shift {
  line-height: 140px;
}
.grid-6x6 .coin-space {
  width: 82px;
  height: 82px;
  perspective: 600px;
  font-size: 44px;
}
.grid-6x6 .icon-shift {
  line-height: 100px;
}
.coin-object {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.coin-face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}
.coin-face-front {
  border-radius: 100px;
  background: var(--dark-blue-bg);
}
.coin-face-back {
  border-radius: 100px;
  background: var(--light-blue-bg);
  text-align: center;
  transform: rotateY( 180deg );
}
.is-flipped {
  transform: rotateY(180deg);
}
.status-wrapper {
  display: flex;
  justify-content: center;
}
.status-bar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 15px;
  max-width: max-content;
}
.status-bar {
  padding: 17px 24px;
  background-color: var(--lighter-blue);
  min-height: 72px;
  min-width: 255px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* transition: 200ms; */
  /* transition-timing-function: ease-in; */
}
.status-bar-content {
  text-align: end;
  min-width: 120px;
}

.active-button {
  background-color: var(--orange-bg);
}
.active-player {
  background-color: var(--orange-bg);
  border: 1px solid var(--orange-bg);
}

.triangle-noshow {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.triangle-show {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid var(--orange-bg);
}

.text-show {
  margin-top: 15px;
  letter-spacing: 0.3em;
  color: var(--darker-blue);
}
.text-noshow {
  margin-top: 15px;
  letter-spacing: 0.3em;
  color: transparent;
}

/* styling the modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-wrapper {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 69px 50px;
}
.modal-subtitle {
  margin-top: 16px;
  margin-bottom: 30px;
}
.modal-status-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.modal-wrapper .status-bar-wrapper {
  border-radius: 10px;
  margin: 8px 6px;
}
.modal-wrapper .status-bar-title {
  color: var(--medium-blue);
  min-width: 170px;
}
.modal-wrapper .winner-blue {
  background-color: var(--darker-blue);
  color: var(--white-color);
}
.modal-wrapper .winner-blue .status-bar-title {
  color: var(--white-color);
}
.modal-wrapper .status-bar-content {
  min-width: 350px;
}
.modal-wrapper .game-title-button {
  margin-top: 48px;
}
.modal-wrapper button {
  min-width: 260px;
  min-height: 56px;
}
.display-none {
  display: none;
}